body {
    background-image: url("ai-generated-8579697_1280.jpg");
    background-size:cover;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    height: 100vh;
}

.container {    
    background: #BCBD8B;
    max-width: 80%;
    margin: auto;
    border: 3px solid black;
    border-radius: 10px;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #0F2E27;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
    color: #0F2E27;
}

p {
    color: #143E34;
    padding: 10px auto;
}

button {
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #EFF1ED;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background:#373D20;
}

#save-btn {
    background: #717744;
}

#save-el {
    font-weight: bold;
}

